.auth-page {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background: linear-gradient(135deg, #f0f4ff, #dbe9ff);
    font-family: 'Segoe UI', sans-serif;
  }
  
  .auth-card {
    background: #fff;
    padding: 50px 40px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.1);
    max-width: 420px;
    width: 90%;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  
  .auth-card h2 {
    font-size: 2rem;
    margin-bottom: 8px;
    color: #1F2937;
  }
  
  .subtitle {
    font-size: 1rem;
    color: #4B5563;
    margin-bottom: 24px;
  }
  
  .auth-form input {
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 20px;
    border-radius: 12px;
    border: 1px solid #d1d5db;
    font-size: 1rem;
    transition: 0.3s ease;
  }
  
  .auth-form input:focus {
    outline: none;
    border-color: #1A73E8;
    box-shadow: 0 0 6px rgba(26,115,232,0.3);
  }
  
  .btn-gradient {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(90deg, #1A73E8, #4dabf7);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .btn-gradient:hover {
    background: linear-gradient(90deg, #0F59C9, #1A73E8);
  }
  
  .error {
    color: red;
    margin-bottom: 16px;
    font-size: 0.9rem;
  }
  
  .bottom-text {
    margin-top: 18px;
    font-size: 0.9rem;
    color: #4B5563;
  }
  
  .bottom-text a {
    color: #1A73E8;
    text-decoration: none;
    font-weight: 600;
  }
  
  .bottom-text a:hover {
    text-decoration: underline;
  }
  
 /* MOBILE */
@media (max-width:768px){
    .auth-card{
      padding: 30px 16px;   
      width: 90%;              
    }
  
    .auth-card h2{
      font-size: 1.6rem;       
    }
  
    .subtitle{
      font-size: 0.9rem;      
    }
  
    .auth-form input{
      padding: 14px 5px;     
      font-size: 0.95rem;
    }
  
    .btn-gradient{
      padding: 14px;
      font-size: 0.95rem;
      width: 100%;             
    }
  
    .bottom-text{
      font-size: 0.85rem;
      text-align: center;
    }
  }
  